.Content {
    display: flex;
    flex-direction: row;
}

.Content-left {
    width: 64px;
    height: 3220px;
    margin-left: 0px;
    background-color: #F4F4F4;
}

.Content-right {
    width: 1376px;
    margin-left: 28px;
}

.Content-right h1 {
    margin-top: 28px;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #000000
}

.Content-right p {
    font-weight: 400;
    font-size: 22px;
    line-height: 44px;
    margin-bottom: 16px;
}

.First-content-right {
    display: flex;
}

.Count-poke p {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 16px;
    margin-bottom: 16px;
}

.mb-3 {
    margin-top: 28px;
    margin-left: 630px;
}

.Button-load-more {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}